* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* color: #fff; */
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
}


#home {
  width: 100%;
  height: 4rem;
  background: #213364;
  position:fixed;
}

/* correction menu */
.nav-flex {
  width: 100%;
  height: auto;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.nav_logo {
  float: left;
  width: 4rem;
  height: 100%;
  margin:0rem 0rem 0rem 1rem;
}

.nav_logo img {
  width: 3rem;
  height: 3rem;
}

.toggle {
  display: none;
}

.toggler {
  float: right;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0.5rem 1rem 0rem 0rem;
  transition:all 3s ;
}

.toggleLine {
  width: 1.8rem;
  height: 2px;
  background: #fff;
  position: relative;
  transition:all .2s linear;
}

.toggleLine::before {
  content: "";
  position: absolute;
  top: -7px;
  width: 1.8rem;
  height: 2px;
  background: #fff;
  transition:all .2s linear;
}

.toggleLine::after {
  content: "";
  position: absolute;
  top: 7px;
  width: 1.8rem;
  height: 2px;
  background: #fff;
  transition:all .2s linear;
}

.navigationItems {
  clear:both;
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  justify-content:center;
  width:100%;
  height:0rem;
  overflow: hidden;
  padding:0rem 1rem 0rem 0rem;
  background:#252d86b7;
  list-style-type:none;
  transition:height .2s ease-in-out;
}

.navigationItems li a {
  display:block;
  color:#fff;
  text-decoration:none;
  margin:0.5rem 0rem 0.5rem 0rem;
}

.toggle:checked ~ .navigationItems {
  height: 12rem;
}

.toggle:checked ~ .toggler .toggleLine {
  background:transparent;
}
.toggle:checked ~ .toggler .toggleLine:before {
  top:0px;
  transform:rotate(-135deg)
}
.toggle:checked ~ .toggler .toggleLine:after {
  top:0px;
  transform:rotate(135deg)
}

.toggle:checked ~ .toggler {
  transform:rotate(360deg);
  animation:all 3s infinite ;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}





/* NAVIGATION MENU (header) */
/* header {
  height: 100vh;
  background-blend-mode: overlay;
} */




/* SHOWCASE  */

.showcase {
  height: 70vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
}
#showcase.container {
  width: 100%;
  padding: 0rem 1rem 0rem 1rem;
  background: #333 url(../img/showcase.jpg) no-repeat center center/cover;
  background-blend-mode: overlay;
}
.showcase-text {
  padding-top: 2rem;
  line-height: 1.2;
  width: 70%;
}

.showcase-text h2 {
  margin: 2.5rem 0rem 1rem;
}

.showcase-text p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.showcase-text button {
  color: #fff;
  background-color: #213364;
  font-size: .6rem;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-weight: bold;
  transition: all ease 1s;
}

.showcase-text button:hover {
  background-color: #213364ab;
  transition: all ease 1s;
  transform: scale(1.1);
}


/* ABOUT US */
.about-us {
  background-color: #213364;
  padding-top: 3rem;
  color: #fff;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.about-content .about-text {
  width: 90%;
}

.about-content .about-text h3 {
  font-size: .8rem;
  margin-bottom: 3rem;
}

.about-content .about-text h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.about-content .about-text p {
  font-size: .8rem;
  margin-bottom: 2rem;
}

.about-content .about-text a {
  font-size: .5rem;
  color: #fff;
  text-decoration: none;
}

.about-content .about-text a:hover {
  border-bottom: 1px solid #ffffff23;
}

.about-content .about-img img {
  max-width: 300px;
  height: 300px;
}

/* OFFERS */
.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.offers .offer {
  width: 50%;
  margin-bottom: 2rem;
  flex: 1 0 auto;
  text-align: center;
}

.offers img {
  width: 100px;
  margin-bottom: 1rem;
}

.offers p {
  font-size: 1rem;
  /* width: 90%; */
}

.offers h3 {
  font-size: 2rem;
  width: 90%;
  margin: auto;
}

.offers a {
  font-size: .5rem;
  color: #fff;
  text-decoration: none;
}

.offers a:hover {
  border-bottom: 1px solid #fff;
}

.offers .offer {
  padding-top: .5rem;
  width: 80%;
  transition: all 1s ease-in-out;
}

.offers .offer:hover {
  background-color: #a9a8af41;
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

/* VALUES */
.values1 {
  background-color: #e6e6fa;
  color: #213364;
}

.values-heading {
  padding: 2rem 0 0;
}

.values {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.values1 .values-heading h3 {
  font-size: 1rem;
  padding: 1rem 0;
}

.values1 .values-heading p {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.values .value {
  flex: 1 0 auto;
}

.value img {
  width: 100%;
}

.value h3 {
  font-size: 1.5rem;
}

.value p {
  font-size: 1rem;
}

.value a {
  font-size: .7rem;
  color: #213364;
  text-decoration: none;
  font-weight: bold;
}

/* MISSION */
.mission {
  background-color: lavender;
}

.mission .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 0;
  color: #213364;
  gap: 2rem;
}

.row .left {
  width: 100%;
}

.left img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 3px #aeaeb9;
}

.left-text a {
  font-size: .7rem;
  color: #213364;
  text-decoration: none;
  font-weight: bold;
}

.left-text h3 {
  font-size: x-large;
  padding: 2rem 0 0;
}

.left-text p {
  font-size: 1rem;
  padding: 1.5rem 0;
}

.row .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  /* align-self: stretch; */
  width: 100%;
  height: auto;
  background: #333 url(../img/pexels-pixabay-355948.jpg) no-repeat center center/cover;
  background-blend-mode: overlay;
  color: #fff;

}

.right-text h3 {
  padding: 2rem 0;
  width: 60%;
  margin: auto;
}

/* FOOTER */
footer {
  background-color: #213364;
  color: #fff;
  text-align: center;
}

footer .row {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
}

.row .footer-text {
  width: 80%;
  margin: auto;
  transition: all 1s ease-in-out;
  padding: 2rem;
}

.row .footer-text:hover {
  padding-bottom: .4rem;
  transition: all 1s ease-in-out;
  width: 100%;
}

.footer-text:last-child {
  margin-bottom: 1rem;
}

.footer-text h4 {
  font-size: 1rem;
}

.footer-text p {
  font-size: .7rem;
}

.footer-text li {
  list-style: none;
}

.footer-text li a {
  color: #cefffe;
  text-decoration: none;
  transition: all 1s ease-in-out;
  font-size: .7rem;
}

footer li a:hover {
  transition: all 1s ease-in-out;
  color: #fff;
}

.footer-text input {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 5px;
  width: 90%;
  outline: none;
  color: #fff;
  font-size: .6rem;
  line-height: 1.5;
}

.footer-text input::placeholder {
  color: #ccc;
  font-size: .6rem;
}

.footer-text button {
  width: 90%;
  font-weight: bold;
  font-size: .7rem;
  color: #213364;
  line-height: 2;
  cursor: pointer;
  border: none;
  margin-top: .3rem;
  transition: all 1s ease-in-out;
}

.footer-text button:hover {
  background-color: #cefffe;
  transition: all 1s ease-in-out;
}convo